.dermatologia-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.image-container {
  flex: 1;
  margin-right: 20px;
  max-width: 50%;
}

.dermatologia-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-container {
  flex: 1;
 
}

.text-black{
  color:black
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .dermatologia-container {
    flex-direction: column;
  }

  .image-container {
    flex: none;
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
}