/* FOOTER.CSS */


 
.footer {
    background: linear-gradient(to bottom, #83a8b1, black);
}



.footer-last-div {
    width: 100%;
    background-color: #00000000; /* Color de fondo del último div del footer */
    color: #ffffff;
    position: absolute;
    bottom: 0;
  }
/* .ftco-heading-2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

/* .list-unstyled{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.text {
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 } */

a{
    text-decoration: none;
    color: white;
 }

a:hover{
    text-decoration: none;
    color: orange;
 }

.footer-social{
    justify-content:space-around;
 } 

 .text{
    color:#ffff;
 }