/* FOOTER.CSS */

.footer {
    background-color: #1E2C30; 
    
}

.ftco-heading-2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 .list-unstyled{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .text {
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 a{
    text-decoration: none;
    color: white;
 }

 a:hover{
    text-decoration: none;
    color: orange;
 }