.list-doctors-container {
    padding: 20px;
    text-align: center;
}

.doctors-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.doctors-grid > * {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.view-more-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-more-btn:hover {
    background-color: #0056b3;
}