/* Private.css */

.private-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .private-container h1 {
    font-size: 24px;
    color: #333;
  }
  
  .private-container p {
    font-size: 16px;
    color: #666;
  }
  