.psicolgia-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    flex: 1;
    margin-right: 20px;
    max-width: 50%;
  }
  
  .psicologia-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .text-container {
    flex: 1;
  }
  
  .title {
    color: #333;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text {
    font-family: Arial, sans-serif; /* Cambia Arial por la fuente que desees */
    font-size: 18px; /* Tamaño de fuente común */
    color: #555; /* Color de texto común */
    line-height: 1.6; /* Altura de línea común */
  }
  .service-list {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .service-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px; /* Espacio para el ícono */
    line-height: 1.6; /* Altura de línea */
  }
  
  